<div id="wrapper">
  <aside id="sidebar-wrapper">
    <div class="sidebar-brand">
      <div class="people">
        <div class="inline-b mid">
          <a href="index.html">
            <img
              src="../../../assets/images/basic/icon.svg"
              class="w-40"
              alt=""
            />
          </a>
        </div>
        <div class="image-list">
          <ul>
            <li class="h-18">
              <label style="font-size: 16px;">ShopEat</label>
            </li>
            <li class="h-18">
              <a href="#">Repeat</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <ul class="sidebar-nav m-t-5">
      <li
        class="nav-item dropdown"
        [routerLinkActive]="['active']"
        *ngFor="let item of navBar"
      >
        <!-- {{ item.href | json }} -->
        <a class="nav-link" routerLink="{{ item.href }}">
          <i class="m-4" [ngClass]="item.class"></i>
          <span>{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </aside>

  <div id="navbar-wrapper">
    <nav class="navbar navbar-inverse" style="left: 0 !important;">
      <form class="form-inline mr-auto">
        <ul class="navbar-nav mr-3">
          <li></li>
          <li>
            <h3 class="f-s-30 f-l f-i color-1 0">
              <a
                class=""
                id="sidebar-toggle"
                (click)="toggle()"
                style="cursor: pointer;"
                ><i
                  class="fa fa-bars fa-2x"
                  style="
                    color: #66d6c2;
                    font-size: 18px;
                    margin-right: 10px;
                    bottom: 4px;
                    position: relative;
                  "
                ></i></a
              >Customers
            </h3>
          </li>
        </ul>
      </form>
      <ul class="navbar-nav navbar-right" style="display: inline-block;">
        <li class="dropdown dropdown-list-toggle">
          <a
            href="#"
            style="padding-left: 0 !important;"
            data-toggle="dropdown"
            class="nav-link nav-link-lg message-toggle"
          >
            <img
              alt="image"
              src="../../../assets/images/basic/Inventory.PNG"
              class="w-176 b-r-4 h-42 b-1"
            />
          </a>
        </li>

        <!-- upload inventory end -->

        <!-- notification start -->

        <li class="dropdown">
          <a
            href="#"
            style="padding-left: 0 !important;"
            data-toggle="dropdown"
            class="nav-link nav-link-lg nav-link-user"
            ><img
              alt="image"
              src="../../../assets/images/avatar/avatar-1.png"
              class="rounded-circle mr-1 w-45 b-1-s"
          /></a>
        </li>

        <!-- notification end -->

        <li class="dropdown">
          <a
            href="#"
            style="padding-left: 0 !important;"
            data-toggle="dropdown"
            class="nav-link nav-link-lg nav-link-user"
            ><img
              alt="image"
              src="../../../assets/images/avatar/avatar-1.png"
              class="rounded-circle mr-1 w-45 b-1-s"
          /></a>
        </li>
      </ul>
    </nav>
  </div>

  <section id="content-wrapper">
    <div class="row">
      <div class="col-lg-12">
        <router-outlet></router-outlet>
      </div>
    </div>
  </section>
</div>

<!-- layout -->
