.color-1 {
  color: #0abd9e;
}

.color-2 {
  color: #7e889b;
}

.color-3 {
  color: #ffffff;
}

.color-4 {
  color: #b0b0b0;
}

.color-5 {
  color: #31415f;
}

/* back ground */

.b-1 {
  background: #fdfcfc 0% 0% no-repeat padding-box;
}

/* background colors */

.b-c-1 {
  background-color: #edeef2 !important;
}

/* border radius */

.b-r-4 {
  border-radius: 4px;
}

.b-r-50 {
  border-radius: 50%;
}

/* borders */

.b-1-s {
  border: 1px solid #f3f3f3;
}

.b-2-s {
  border: 1px solid #edeef2;
}

$color-1: #ffffff;
