/* font weight */

.f-l {
  font-weight: lighter;
}

.f-b {
  font-weight: bold;
}

.f-b-500 {
  font-weight: 500;
}

/* font family */

.f-i {
  font-family: inherit;
}

/* font-size */

.f-s-16 {
  font-size: 16px;
}

.f-s-30 {
  font-size: 30px !important;
}
