/* opacity */

.o {
  opacity: 1;
}

/* positions */

.p-r {
  position: relative;
}

.p-a {
  position: absolute;
}

/* main body */

.main-sidebar .sidebar-menu li.active a {
  color: #0abd9e;
  font-weight: 600;
  background-color: #f8fafb;
}

body.sidebar-mini .main-sidebar .sidebar-menu > li.active > a {
  box-shadow: 0 4px 8px #f8fafb;
  background-color: #f8fafb;
  color: #0abd9e;
}

/* sidebar heading */

.people {
  display: inline-block;
  float: left;
  margin-left: 20px;
}

.inline-b {
  display: inline-block;
}

.inline-b.mid {
  vertical-align: middle;
}

.image-list {
  display: inline-block;
  vertical-align: middle;
}

.image-list ul {
  padding-left: 20px;
  margin: 0;
  list-style: none;
}

/* containers */

.container-1 {
  width: 1140px;
  height: 100px;
  background: transparent linear-gradient(282deg, #377ef9 0%, #0abd9e 100%)
    no-repeat padding-box;
  opacity: 0.4;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding: 20px;
}

.container-2 {
  width: 1140px;
  height: 600px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 2px 2px 3px #0000000d;
  border-radius: 0px 0px 4px 4px;
  opacity: 1;
  padding: 20px;
}

.container-3 {
  width: 1139px;
  height: 600px;
  background: transparent linear-gradient(295deg, #377ef9 0%, #0abd9e 100%) 0%
    0% no-repeat padding-box;
  opacity: 0.4;
  border-radius: 5px;
}

.container-4 {
  background: transparent linear-gradient(282deg, #377ef9 0%, #0abd9e 100%) 0%
    0% no-repeat padding-box;
  opacity: 0.4;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  height: 40px;
}

/* labels */

.label-1 {
  font-weight: bold;
  font-size: 17px;
  font-family: inherit;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}

.container-slide {
  width: 299px;
  height: 299px;
  background-color: #edeef2;
  padding: 10px;
}

/* buttons */

.btn-1 {
  height: 33px;
  background: #0abd9e;
  border-radius: 3px;
  border: none;
}

.btn-2 {
  width: 30px;
  height: 30px;
  background: #fdfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  opacity: 1;
}

.btn-3 {
  width: 149px;
  height: 33px;
  background: #0abd9e 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  border: none;
}

.save-btn {
  width: 232px;
  height: 48px;
  background: #377ef9 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  border: none;
}

.save-btn-label {
  text-align: left;
  font-size: 17px;
  font-style: SemiBold;
  font-family: inherit;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
  opacity: 1;
}

.cancel-btn {
  width: 232px;
  height: 48px;
  /* background: #377ef9 0% 0% no-repeat padding-box; */
  border: 1px solid #b0b0b0;
  border-radius: 3px;
  opacity: 1;
}

.cancel-btn-label {
  text-align: left;
  font-size: 17px;
  font-style: SemiBold;
  font-family: inherit;
  letter-spacing: 0px;
  color: #b0b0b0;
  text-transform: capitalize;
  opacity: 1;
}

.button-remove {
  width: 94px;
  height: 22px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #b0b0b0;
  border-radius: 6px;
}

.btn-remove-red {
  width: 89px;
  height: 22px;
  background: #fadddd 0% 0% no-repeat padding-box;
  border-radius: 4px;
  border: none;
  text-align: center;
}

.btn-remove-label {
  letter-spacing: 0px;
  color: #ea4f4f;
  font-size: 13px;
  font-style: inherit;
  font-weight: normal;
}

.btn-add {
  width: 156px;
  height: 33px;
  background: #0abd9e 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  border: none;
}

.btn-add-label {
  text-align: left;
  float: right;
  right: 10px;
  margin-right: 10px;
  font-size: 14px;
  font-style: SemiBold;
  font-family: inherit;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: capitalize;
}

.add-section {
  width: 764px;
  height: 46px;
  box-shadow: 2px 2px 3px #0000000d;
  border: 1px dashed #707070;
  opacity: 1;
  margin: 0 auto;
}

.add-section-label {
  text-align: center;
  font-size: 17px;
  font-style: Bold;
  font-family: inherit;
  letter-spacing: 0px;
  color: #31415f;
}

.btn-w-2 {
  width: 164px;
  height: 32px;
  background: #edeef2 0% 0% no-repeat padding-box;
  border-radius: 4px 4px 0px 0px;
  opacity: 1;
  border: none;
}

.upload-outline {
  width: 716px;
  height: 114px;
  box-shadow: 2px 2px 3px #0000000d;
  border: 1px dashed #707070;
  opacity: 1;
}

.btn-sm {
  width: 156px;
  height: 33px;
  background: #377ef9 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  border: none;
}

.btn-st {
  width: 123px;
  height: 33px;
  background: #0abd9e 0% 0% no-repeat padding-box;
  border-radius: 3px;
  opacity: 1;
  border: none;
  margin-left: 10px;
  color: white;
}

.btn-main-ad {
  width: 106px;
  height: 33px;
  border: 1px solid #707070;
  border-radius: 3px;
  opacity: 1;
}

/* paggination */

.pagination > li > a {
  /* background-color: #ebebeb; */
  color: #3c81f9;
  border: none;
  border-radius: 50% !important;
}

.pagination > li {
  margin: 8px;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover {
  color: #5a5a5a;
  background-color: #eee;
  border-color: #ddd;
}

.pagination > .active > a {
  color: white;
  background-color: #3c81f9 !important;
  border: solid 1px #3c81f9 !important;
  border-radius: 50% !important;
}

.pagination > .active > a:hover {
  background-color: #5a4181 !important;
  border: solid 1px #5a4181;
  border-radius: 50% !important;
}

/* arrows */

.axis-label {
  text-align: left;
  letter-spacing: 0px;
  color: #000000;
  font-size: 19px;
  font-family: inherit;
  font-weight: 500;
}

.arrow {
  background: #fff;
  display: inline-block;
  position: relative;
  padding-top: 10px;
  width: 350px;
}

/* Required for triangle */

.arrow:before,
.arrow:after {
  content: "";
  position: absolute;
  width: 0;
  height: 0;
  border-style: solid;
  border-color: transparent;
  border-right: 0;
  left: 100%;
}

/* Stroke */

.arrow:before {
  top: -10px;
  border-left-color: #fff;
  border-width: 15px;
}

/* label rotate */

.text-y {
  position: absolute;
  bottom: 160px;
  transform: rotate(270deg);
  left: 10px;
}

.text-x {
  position: absolute;
  bottom: 70px;
  left: 164px;
}

/* inputs */

.input-text {
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  padding-left: 4px;
}

.input-text-w-h {
  width: 282px;
  height: 32px;
  padding-left: 4px;
}

.input-1 {
  width: 213px;
  height: 32px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.input-2 {
  width: 103px;
  height: 32px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.input-labels {
  text-align: left;
  font: Regular 14px Ambit;
  letter-spacing: 0px;
  color: #000000;
  font-weight: 500;
}

.input-small {
  width: 164px;
  height: 32px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #edeef2;
  border-radius: 4px;
  padding-left: 4px;
}

.input-xs {
  padding: 0;
  width: 83px;
  height: 32px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #edeef2;
  border-radius: 4px;
  opacity: 1;
  padding-left: 4px;
}

.input-xs-s {
  width: 57px;
  height: 29px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  opacity: 1;
}

.textarea-w-h-s {
  width: 282px;
  height: 51px;
  padding-left: 4px;
}

/* cards */

.card-content {
  width: 222px;
  height: 112px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 5px;
  opacity: 1;
}

.label-card {
  text-align: left;
  font: SemiBold 35px inherit;
  font-family: inherit;
  font-size: 35px;
  font-weight: bolder;
  letter-spacing: 0px;
  color: #78cfc0;
}

.label-1 {
  text-align: left;
  font: Regular 14px inherit;
  font-family: inherit;
  font-size: 14px;
  font-weight: normal;
  letter-spacing: 0px;
  color: #000000;
}

.label-2 {
  text-align: left;
  font: Bold 14px inherit;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #000000;
}

.content {
  border-radius: 4px;
  opacity: 1;
  margin: 20px;
  padding-left: 40px;
}

.h-s {
  text-align: left;
  font-family: inherit;
  font-size: 17px;
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: inherit;
  margin-top: 8px;
  margin-left: 20px;
}

.line {
  box-shadow: 0px -1px 1px #edeef2;
  margin: 0;
  border-radius: 0;
}

.heading-label {
  text-align: left;
  font: 500 17px Ambit;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  font-family: inherit;
  margin-top: 8px;
  margin-left: 20px;
}

.card-1 {
  width: 480px;
  height: 214px;
  background: #c5efe8 0% 0% no-repeat padding-box;
  border: 5px solid #ffffff;
  border-radius: 3px;
  opacity: 1;
}

.card-2 {
  width: 480px;
  height: 214px;
  background: #dfdfb5 0% 0% no-repeat padding-box;
  border: 5px solid #ffffff;
  opacity: 1;
}

.card-3 {
  width: 480px;
  height: 214px;
  background: #bed5e5 0% 0% no-repeat padding-box;
  border: 5px solid #ffffff;
  border-radius: 3px;
  opacity: 1;
}

.card-4 {
  width: 709px;
  height: 146px;
  background: transparent linear-gradient(295deg, #377ef9 0%, #0abd9e 100%) 0%
    0% no-repeat padding-box;
  opacity: 0.4;
  border-radius: 5px;
}

.logo-card {
  width: 127px;
  height: 112px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
}

.text-toogle[aria-expanded="false"] .text-expanded {
  display: none;
}

.text-toogle[aria-expanded="true"] .text-collapsed {
  display: none;
}

.acc-heading {
  margin-left: 45%;
  background: #e6efff 0% 0% no-repeat padding-box;
  border-radius: 6px;
  width: 94px;
  height: 30px;
}

.acc-title {
  text-align: center;
  font-size: 14px;
  font-style: normal;
  font-family: inherit;
  letter-spacing: 0px;
  color: #31415f;
}

.line-2 {
  direction: rtl;
  right: -50px;
  position: absolute;
  border: 1px solid #edeef2;
  width: 80px;
  top: 54px;
  transform: rotate(90deg);
  background: #0000000d;
}

/* slider */

input[type="range"] {
  width: 210px;
  height: 30px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
}
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: none;
}
input[type="range"]::-webkit-slider-runnable-track {
  width: 200px;
  height: 1px;
  background: #003d7c;
}

input[type="range"]:nth-child(2)::-webkit-slider-runnable-track {
  background: none;
}

input[type="range"]::-webkit-slider-thumb {
  position: relative;
  height: 15px;
  width: 15px;
  margin-top: -7px;
  background: #fff;
  border: 1px solid #003d7c;
  border-radius: 25px;
  z-index: 1;
}

input[type="range"]:nth-child(1)::-webkit-slider-thumb {
  z-index: 2;
}

.rangeslider {
  position: relative;
  height: 60px;
  width: 210px;
  display: inline-block;
  margin-top: -5px;
  margin-left: 20px;
}
.rangeslider input {
  position: absolute;
}
.rangeslider {
  position: absolute;
}

.rangeslider span {
  position: absolute;
  margin-top: 30px;
  left: 0;
}

.rangeslider .right {
  position: relative;
  float: right;
  margin-right: -5px;
}
