/* margin top */

.m-t-2 {
  margin-top: 2px;
}

.m-t-5 {
  margin-top: 5px;
}

.m-t-10 {
  margin-top: 10px;
}

.m-t-25 {
  margin-top: 25px;
}

.m-t-70 {
  margin-top: 70px;
}

/* margin  bottom */

.m-b-2 {
  margin-bottom: 2px;
}

.m-b-5 {
  margin-bottom: 5px;
}

.m-b-20 {
  margin-bottom: 20px;
}

/* margin  right */

.m-r-5 {
  margin-right: 5px;
}

.m-r-10 {
  margin-right: 10px;
}

/* margin  left */

.m-l-0 {
  margin-left: 0;
}

.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-20 {
  margin-left: 20px;
}

.m-l-40 {
  margin-left: 40px;
}

/* margin */

.m-a {
  margin: 0 auto;
}

.ma-5 {
  margin: 5px;
}

.ma-10 {
  margin: 10px;
}

/* top */

.t-25 {
  top: 25px;
}

/* bottom */

.b-2 {
  bottom: 2px;
}

.b-50 {
  bottom: 50px;
}

/* right */

.r-2 {
  right: 2px;
}

.r-110 {
  right: 110px;
}

.r-170 {
  right: 170px;
}

/* left */

.l-160 {
  left: 160px;
}

/* padding top */

.p-t-5 {
  padding-top: 5px;
}

.p-t-10 {
  padding-top: 10px;
}

.p-t-20 {
  padding-top: 20px;
}

/* padding bottom */

.p-b-5 {
  padding-bottom: 5px;
}

.p-b-20 {
  padding-bottom: 20px;
}

/* padding right */

.p-r-30 {
  padding-right: 30px;
}

.p-r-40 {
  padding-right: 40px;
}

/* padding left */

.p-l-0 {
  padding-left: 0 !important;
}

.p-l-10 {
  padding-left: 10 !important;
}

.p-l-15 {
  padding-left: 15 !important;
}

.p-l-20 {
  padding-left: 20px;
}

.p-l-25 {
  padding-left: 25px;
}

.p-l-30 {
  padding-left: 30px;
}

.p-l-180 {
  padding-left: 180px !important;
}

/* padding */

.p-0 {
  padding: 0 !important;
}

.pa-5 {
  padding: 5 !important;
}

.p-20 {
  padding: 20px !important;
}

/* float */

.f-r {
  float: right;
}

.f-l {
  float: left;
}

/* transforms */

.t-180 {
  transform: rotate(180deg) !important;
}

.t-270 {
  transform: rotate(270deg);
}

/* display */

.d-t {
  display: table;
}

.t-a-c {
  text-align: center;
}

.a-i-c {
  align-items: center;
}

.d-n {
  display: none;
}
