/* width */

.w-10 {
  width: 10px;
}
.w-20 {
  width: 20px;
}

.w-40 {
  width: 40px !important;
}
.w-45 {
  width: 45px !important;
}

.w-176 {
  width: 176px;
}

.w-120 {
  width: 120px !important;
}

/* height */

.h-18 {
  height: 18px;
}

.h-42 {
  height: 42px !important;
}

.h-45 {
  height: 45px;
}

.h-120 {
  height: 120px !important;
}
